
---
/* eslint-disable @typescript-eslint/naming-convention */
import React from 'react';
import {InfoButton} from '../mocks/InfoButton';
---
{/* eslint-disable @next/next/no-head-element */}

<html lang="en">
    <head>
        <title>Astro with React</title>
    </head>
    <body>
        <InfoButton text='click me' />
    </body>
</html>