/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  margin: 0 auto;
  background: initial;
  padding: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.codeblock {
  border: 1px solid var(--ifm-color-secondary);
  box-shadow: none;
}

.codeblock button {
  opacity: 1 !important;
  margin-top: 2px;
}
