.td,
.th {
  width: 100%;
}

.tr td {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.tr:hover td {
  overflow-x: auto;
  white-space: normal;
}

.filtersContainer {
  display: flex;
  align-items: center;
}

.filterInput {
  width: 100%;
  min-height: 38px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: var(--ifm-global-radius);
  border: 1px solid #ccc;
  margin-right: 8px;
  max-width: 300px;
  min-width: 100px;
}

.tableControlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 1rem;
}
