.checkboxGroupContainer {
  display: flex;
  align-items: center;
  border: 2px solid var(--ifm-toc-border-color);
  border-radius: var(--ifm-global-radius);
  padding: 9px 16px 8px 16px;
}

.nativeCheckbox {
  display: block;
  margin-right: 12px;
}

.nativeCheckbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.nativeCheckbox label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.nativeCheckbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid var(--ifm-toc-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  top: -2px;
}

.nativeCheckbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 4px;
  height: 10px;
  border: solid var(--ifm-color-primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
