.td,
.th {
  width: 100%;
}

.tr td {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.tr:hover td {
  overflow-x: auto;
  white-space: normal;
}

.filtersContainer {
  display: flex;
  align-items: center;
}

.filterInput {
  width: 100%;
  min-height: 38px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: var(--ifm-global-radius);
  border: 1px solid #ccc;
  margin-right: 8px;
  max-width: 300px;
  min-width: 100px;
}

.tableControlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 1rem;
}

.checkboxGroupContainer {
  display: flex;
  align-items: center;
  border: 2px solid var(--ifm-toc-border-color);
  border-radius: var(--ifm-global-radius);
  padding: 9px 16px 8px 16px;
}

.nativeCheckbox {
  display: block;
  margin-right: 12px;
}

.nativeCheckbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.nativeCheckbox label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.nativeCheckbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid var(--ifm-toc-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  top: -2px;
}

.nativeCheckbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 4px;
  height: 10px;
  border: solid var(--ifm-color-primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.queriedRulesMetricsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
